/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.logo img {
    position: absolute;
    left: 20px;
    top: -20px;
}

/* Navigation Menu */
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 4rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: black;
}

nav ul li a.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}


/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
