{% extends 'base.html' %}

{% load static %}

{% block title %}Book a Ticket - Ena Coach{% endblock %}

{% block other_styles %}
<link rel="stylesheet" href="{% static 'assets/css/booking.css' %}">
{% endblock %}

{% block header_title %}Book a Bus Ticket{% endblock %}

{% block content %}
<!-- Restriction Message -->
<section class="restricted-access">
    <h2>Access Restricted</h2>
    <p>To access the booking dashboard, please log in or create an account.</p>
    <a href="{% url 'user_login' %}" class="btn">Login</a>
    <a href="{% url 'register' %}" class="btn">Register</a>
</section>
{% endblock %}

{% block other_scripts %}{% endblock %}
