{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Ena Coach{% endblock %}

{% block other_styles %}
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
{% endblock %}

{% block header_title %}Welcome to Ena Coach Online Bus Booking{% endblock %}

{% block content %}
<section class="hero">
    <h2>Book Your Bus Ticket Easily</h2>
    <p>Check bus availability, book tickets, and pay online via M-Pesa.</p>
    <a href="{% url 'booking' %}" class="btn">Book Now</a>
</section>

<section class="services">
    <h2>Why Choose Ena Coach?</h2>
    <div class="service-containers">
        <div class="service-box">
            <img src="{% static 'assets/images/bus-image-removebg-preview.png' %}" alt="Bus" >
            <h3>Easy Online Booking</h3>
            <p>Reserve your seat in just a few clicks.</p>
        </div>
        <div class="service-box">
            <img src="{% static 'assets/images/clock-image-removebg-preview.png' %}" alt="Clock" >
            <!-- <i class="fa-solid fa-clock"></i> -->
            <h3>Real-Time Bus Availability</h3>
            <p>Check departure times and seat availability instantly.</p>
        </div>
        <div class="service-box">
            <img src="{% static 'assets/images/M-pesa_-_image-removebg-preview.png' %}" alt="M-Pesa" width="300" height="200">
            <h3>Secure Payments</h3>
            <p>Pay conveniently via M-Pesa.</p>
        </div>
    </div> 
    
</section>
{% endblock %}

{% block other_scripts %}
 <script>
    document.addEventListener("DOMContentLoaded", function () {
    // Get current page URL
    var currentPage = window.location.pathname.split("/").pop(); 
    
    // Get all navigation links
    var navLinks = document.querySelectorAll("nav ul li a");

    // Variable to track if any link is active
    var linkActivated = false;

    // If no link is active, set Home link as active by default
    if (!linkActivated) {
        navLinks[0].classList.add("active");
    }
});
 </script>
{% endblock %}
