{% extends 'base.html' %}

{% load static %}

{% block title %}Register - Ena Coach{% endblock %}

{% block other_styles %}
<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
{% endblock %}

{% block header_title %}Create an Account{% endblock %}

{% block content %}
<section class="register-form">
    <h2>Sign Up</h2>
    <form action="register.php" method="POST">
        <label for="name">First Name:</label>
        <input type="text" name="name" placeholder="Enter your first name" required>

        <label for="name">Last Name:</label>
        <input type="text" name="name" placeholder="Enter your last name" required>

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <label for="phone">Phone Number:</label>
        <input type="text" name="phone" placeholder="Enter your phone number" required>

        <label for="password">Password:</label>
        <!-- <input type="password" name="password" placeholder="Enter your password" required>
-->
        <div class="password-container">
            <input type="password" id="password" placeholder="Enter your password">
            <span class="toggle-icon" onclick="togglePassword()">
                <i id="eyeIcon" class="fas fa-eye"></i> 
            </span>
        </div>

        <label for="password2">Confirm Password:</label>
       
        <div class="password-container2">
            <input type="password" id="password2" placeholder="Confirm your password">
            <span class="toggle-icon2" onclick="togglePassword2()">
                <i id="eyeIcon2" class="fas fa-eye"></i> 
            </span>
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'user_login' %}">Login here</a></p>
</section>
{% endblock %}

{% block other_scripts %}
<script>
    function togglePassword() {
            var passwordField = document.getElementById("password");
            var eyeIcon = document.getElementById("eyeIcon");
    
            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }

        }

        function togglePassword2() {

            var passwordField2 = document.getElementById("password2");
            var eyeIcon2 = document.getElementById("eyeIcon2");

            if (passwordField2.type === "password") {
                passwordField2.type = "text";
                eyeIcon2.classList.remove("fa-eye");
                eyeIcon2.classList.add("fa-eye-slash");
            } else {
                passwordField2.type = "password";
                eyeIcon2.classList.remove("fa-eye-slash");
                eyeIcon2.classList.add("fa-eye");
            }
        }

</script>
{% endblock %}

